
@{
    Layout = null;
    ViewBag.Title = "Message";
    var recipient = ViewData["Recipient"] as string;
    var sender = User.Identity.Name;
} 


<script>

    /* unhide popup and populate it with compose form */
    var cancel = function () {
        //unhide popup div
        $('#overlay_parent').css('visibility', 'hidden');
    };

    var send = function () {
        //send message
        //call funciton to grab html

        $.post('@Url.Action("Send", "Message")', $('#messageForm').serialize(), function (result) {
            $('#overlay_content').html(result + '<br><button id="CloseDiv">Close</button>');
            $('#CloseDiv').click(function () {
                $('#overlay_parent').css('visibility', 'hidden');
                if (typeof messagesSent != 'undefined') {//see if its there
                    messagesSent();
                }
            });
        });
    };
</script>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Compose</title>
</head>
<body>
    <div>
        <table>
        <tbody>

        <tr>
        <td>

        <form method="post" id="messageForm" action='@Url.Action("Send", "Message")'>
        <table>
        <tbody>
        <tr><td>Send To:</td><td><textarea id="recipient" name="recipient" rows="1" cols="65" readonly>@recipient</textarea></td></tr>
        <tr><td>From:</td><td><textarea id="sender" name="sender" rows="1" cols="65" readonly>@sender</textarea></td></tr>
        <tr><td>Message:</td> </tr>
        </tbody>
        </table>
        <textarea class="message" rows="20"  cols="73" id="message" name="message" wrap="soft"/>
        <br/>
            
        <p id ="send_status"></p>
        <input type="button" value="Send" id="sendButton" onclick="send()" />
        <input type="button" value="Cancel" id="cancelButton" onclick="cancel()"/>
        </form>
        </tbody>
        </table>
    </div>
</body>
</html>

