@{
    Layout = null;
} 
@{for(int i = 0; i < 30; i++){
      
<div class="list_box_class" @Html.Raw(String.Format("id=\"list_box_{0}\"", i))>
    <table class="list_box_table">
   		<tr>
        <td>
      		<img class="thumbnail" src="~/Images/heroAccent.png">
   		</td>
        <td id="Sender" class="sender">
            Sender
        </td>
        <td id="TruncatedMessage" class="truncatedmessage">
        	Truncated Message
        </td>
               
        <td id="IsRead" class="isread">
        	Is Read
        </td>
        <td id="SendDate" class="senddate">
        	Send Date
        </td>
        </tr>
   </table>
</div>
<script>
    $(@Html.Raw(String.Format("'#list_box_{0}'", i))).click(function (event) {
       
    });
</script>
}
}