@{
    ViewBag.Title = "Message";
   
}


<h2 id="navTitle">Received Messages</h2>


<!--input type="button" value="Compose" onclick="compose()" /-->
<input type="button" id="msgSentNav" name="msgSentNav" value="Sent Messages" />
<input type="button" id="msgRecNav" name="msgRecNav"   value="Received Messages" />

<div style ="width:100%" id="messagelist"></div>

<script>
    //prevent ajax caching
    $.ajaxSetup({ cache: false });

    /* test funciton for incrementing a value by 2 for testing purposes */
    var myfunc = function () {
        $.get("@Url.Action("AddTwo","message",new{start=0})" + $("#num").text(), null, function (result) {
            $("#num").html(result);
        });
    };

    //hook up popup

    /* unhide popup and populate it with compose form */
    var compose = function () {
        $('#overlay_content').html('<progress max="100"></progress>');

        //call funciton to grab html
        $.get('@Url.Action("Compose", "Message", new { recipient="Logibeara" })', null, function (result) {
            $('#overlay_content').html(result);
        });

        //unhide popup div
        $('#overlay_parent').css('visibility', 'visible');
    };


    var messagesReceived = function () {

        $.get('@Url.Action("GetReceivedMessages", "message")', null, function (result) {
            $("#messagelist").html(result);
            
            $("#navTitle").text("Received Messages");
        });
    };

    var messagesSent = function () {
        $.get('@Url.Action("GetSentMessages", "message")', null, function (result) {
            $("#messagelist").html(result);
            $("#navTitle").text("Sent Messages");
        });
    };

    $(document).ready(function () {

        $("input#msgRecNav").click(function () {
            messagesReceived();
        });

        $("input#msgSentNav").click(function () {
            messagesSent();
        });

        messagesReceived();
    });
</script>
