@{
    ViewBag.Title = "Message";
   
}

<h2>Message</h2>

<script>
    //prevent ajax caching
    $.ajaxSetup({ cache: false });

    /* test funciton for incrementing a value by 2 for testing purposes */
    var myfunc = function () {
        $.get("@Url.Action("AddTwo","message",new{start=0})" + $("#num").text(), null, function (result) {
            $("#num").html(result);
        });
    };

    //hook up popup

    /* unhide popup and populate it with compose form */
    var compose = function () {
        $('#overlay_content').html('<progress max="100"></progress>');

        //call funciton to grab html
        $.get('@Url.Action("Compose", "Message")', null, function (result) {
            $('#overlay_content').html(result);
        });

        //unhide popup div
        $('#overlay_parent').css('visibility', 'visible');
    };


    
    $.get('@Url.Action("GetReceivedMessages", "message")', null, function (result) {
        $("#messagelist").html(result);
    });

</script>

<input type="button" value="Compose" onclick="compose()" />
<div style ="width:100%" id="messagelist"></div>