@{
    Layout = null;
    ViewBag.Title = "ViewMessage";

    var m = ViewData["currentMessage"] as MvcApplication1.Models.Message;
}

<h2>ViewMessage</h2>
<div id="messageData"><p>@m.Message1</p></div>
<button id="close">Close</button>

<script>
    $('#close').click(function () {
        $('#overlay_parent').css('visibility', 'hidden');
    });
</script>