
@{
    ViewBag.Title = "Wishlist";
}



<script>
    var addBook = function () {
        $('#overlay_parent').css('visibility', 'visible');
        $('#overlay_content').html('<progress max="100"></progress>');
        //call funciton to grab html
        $.get('@Url.Action("AddBooktoWishlistDialog", "Bookshelf")', null, function (result) {
            $('#overlay_content').html(result);
        });
    };
    var loadBookWishList = function () {
        $("#bookList").html('<progress max="100"></progress>');
        $.get('@Url.Action("GetWishlist","Bookshelf")', null, function (result) {
            $("#bookList").html(result);

        });
    };
    loadBookList();
</script>

<input type="button" value="Add a book" onclick="addBook()" />
<div style ="width:100%" id="bookList"></div>